/* Main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


AppBar [aria-current] {
  border-bottom: 0.125em solid #0A0909;
}

.muiNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  border-bottom: 0.125em solid #F5F5F5;
}

.navbar-link,
.footerProfile,
.postTitle,
.cardLink,
.userLink {
  text-decoration: none;
}

.profileName {
  margin: 1rem;
}

footer {
  background-color: #F5F5F5;
  clear: both;
  position: relative;
  z-index: 1;
}

/* Home STYLING */

.heroSection,
.getstartedSection,
.exploreSection {
  background-color: #FFBF86;
}

.homePhoto {
  width: 500px;
  height: 500px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.loginBtn,
.signupBtn {
  background-color: #fff2f2;
  font-weight: bold;
  font-size: medium;
  color: #0A0909;
  padding: 15px 25px;
  border: 1px solid #0A0909;
  border-radius: 5px;
  margin: 15px;
}


.logoutBtn {
  background-color: #fccc04;
  font-weight: bold;
  color: #0A0909;
  padding: 5px 10px;
  border: 1px solid #0A0909;
  border-radius: 5px;
}

.followBtn {
  background-color: #FFBF86;
  font-weight: bold;
  color: #0A0909;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
}

.loginBtn:hover,
.signupBtn:hover {
  background-color: #a18100;
  color: #fff2f2;
}


.logoutBtn:hover,
.categoryBtn:hover {
  background-color: #a18100;
  color: #fff2f2;
}


/* Error Styling*/

.errorMsg {
  background-color: #f8d7da;
  font-weight: bolder;
  font-size: 1rem;
  padding: 8px;
  border-radius: 0.32px;
  color: #0A0909;
}


/* Feed Page styling */

.postsWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.postContainer {
  padding: 32px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  border-radius: 0.8px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.postFooter {
  background-color: #F5F5F5;
  margin-top: auto;
}

.postTitle {
  font-size: 1.5rem;
}

.postCategory {
  font-size: 1rem;
}

.feedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.searchPhoto,
.feedPhoto {
  height: 800px;
  width: 800px;
}


/* Create and Edit Form Styles */

.newpostContainer,
.editpostContainer {
  background-color: #fccc04;
}

.formpostContainer,
.formeditContainer {
  padding: 3rem;
  box-shadow: 5px;
  border-radius: 10px;
  background-color: #F5F5F5;
  margin: 3rem;
}

.currentPhoto {
  width: 150px;
  height: 100px;
}

.editCommContainer {
  padding: 32px;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  border-radius: 0.8px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  width: 50%;
}


.editCommForm {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
}

.createTitle,
.editPostTitle,
.editCommTitle {
  text-align: center;
  margin-bottom: 2rem;
}

.photoInput {
  margin: 30px;
}


.commFormContainer {
  padding: 32px;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  border-radius: 0.8px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  width: 80%
}


.commentForm {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 12px;
}

.submitCommBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 16px;
  border-radius: 0.8px;
  background-color: green;
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: bold;
  width: 160px;
  height: 16px;
}

.loginTitle {
  text-align: center;
  margin: 1rem;
  color: #f4770e;
}

/* Explore Styling*/

.latestTitle {
  margin-bottom: 5rem;
}

.searchWrapper {
  background-color: #FFBF86;
  width: 100%;
}

.categoryWrapper,
.resultsWrapper,
.feedWrapper,
.profileWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postCard {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postAuthor {
  padding: 5px;
}

.searchTitle {
  text-align: center;
  margin: 1rem;
}

.searchContainer,
.feedContainer,
.categoryContainer {
  border-radius: 10px;
  background-color: #F5F5F5;
  margin: 3rem;
}

.postHeader,
.postFooter {
  background-color: #ffb473;
}

.resultsContainer {
  padding: 3rem;
}

.profilePhoto {
  margin-right: 10px;
}

.postCategory {
  padding: 5px;
}

.pageLink {
  background-color: #ffb473;
}


.paginationContainer {
  margin: 50px;
}

.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column>div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}